body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  background-color: #20d820;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(40, 140, 207);;
}

.hour {
  background-color: #db6d6d;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #ebdd1a;
  color: rgb(194, 47, 47);
}

.present {
  background-color: #18bbe4;
  color: rgb(42, 230, 17);
}

.future {
  background-color: #20d820;
  color: rgb(19, 194, 185);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #153df0;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
